@charset "utf-8";

/* reset */
html,body {width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
body,li,p,select,input,option,button,a {color:#000}
h1,h2,h3,h4,h5,h6 {}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe {border:0 none}
dl,ul,ol,menu,li {list-style:none}
input {font-size:13px}
input,select,textarea,button {vertical-align:middle;-webkit-border-radius:0px;}
select::-ms-expand {display: none;}
select:focus::-ms-value {background-color:transparent; color:#000;}
img{vertical-align:top}
button {border:0 none;background-color:transparent;cursor:pointer;outline:0;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
label,button{cursor:pointer}
figure,figcaption {margin:0;padding:0;}
button{margin:0;padding:0}
a {color:#333;text-decoration:none}
button * {position:relative;}
hr{display:none}
fieldset{border:0; vertical-align:top;}
legend{position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
table{width:100%;border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}



